*.log
.DS_Store
Thumbs.db

.env
.env.*
/auth.json

/vendor
/node_modules

/public/build
/public/hot

/storage/*.key

/.idea
/.vscode
/.fleet
/.nova
/.phpunit.cache
/.phpunit.result.cache
/.phpactor.json
/.zed

Homestead.json
Homestead.yaml
